@import "src/shared/styles/style";

.resumes{
  @include flex-center;
  flex-direction: column;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .head {
    width: 99%;
  }
}
