.item{
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px 5px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  h1{
    font-size: 25px;
    font-weight: 500;
  }
  h2{
    font-size: 20px;
    font-weight: 450;
  }
}