
.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  width: 73%;
  input {
    margin-left: 5px;
    width: 100%;
    outline: none;
    background-color: rgb(249,250,251)
  }
}

@media only screen and (max-width: 768px) {
  .searchBar {
    width: 63%;
  }
}
