.navbar {
  height: 50px;
  background-color: rgba(0, 242, 255, 0.5);
  box-shadow: 0 0 5px gray;
  margin-bottom: 10px;

  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;

    li {
      margin: 2px 5px;
      padding: 5px 10px;
      background-color: teal;
      border-radius: 3px;
      color: white;
    }

    div {
      display: flex;
    }
  }

  .hamburgerMenu {
    display: none;
  }

  .login {
    background-color: #007bff;
  }

  .active {
    filter: brightness(0.5) !important;
  }

  @media (max-width: 768px) {
    .navLinks {
      display: none;
    }
    .hamburgerMenu {
      display: block;
    }
  }
}
